<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="michaellin.venture_10">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/venture"
        android:label="@string/app_name"
        android:roundIcon="@drawable/venture"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/LoginActivity_Label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/MainMenuActivity_Label" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainMenuActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/CreateEventActivity_Label"
            android:parentActivityName=".MainMenuActivity"
            tools:targetApi="jelly_bean" />

        <activity android:name=".ViewEventActivity"
            android:label="@string/ViewEventActivity_Label"
            android:parentActivityName=".MapsActivity"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>